header{
    width: 100%;
    height: 150px;
    background-color: pink;
}

#title{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 64px;
    text-align: center;
    vertical-align: middle;
    margin: 0%;
    line-height: 150px;
}
aside{
    width: 150px;
    height: 100%;
    margin: 0px;
    display: inline-block;
    float: left;
    background-color: yellowgreen;
}
div{
    width: 100%;
    height: 80px;
    border: 1px solid black;
}
iframe{
    width: 89%;
    height: 100%;
    display: inline-block;
}